<html>
<head>
    <meta charset="utf-8"/>
    <title>User login/logout</title>
    <link type="text/css" rel="stylesheet" href="/styles.css">
</head>
<body>

{% if user %}
<p>
<h2>Hello {{ user.email() }} Welcome to the EV Database</h2></p>
{% else %}
<p>
<h2>Hello Guest welcome to the EV Database</h2></p>
{% endif %}
<p>
<h3>you can {{ url_string }} <a href='{{ url }}'><input type="button" value="here"></a></h3></p>

{% if user %}
<a href="/add"><input type="button" value="Add EV"></a><br/>
{% endif %}

<a href="/query"><input type="button" value="Query EV"></a><br/>
<a href="/compare"><input type="button" value="Compare EV"></a><br/>

{% if user %}
<div align="center">
    <div class="form-div">
        <table width="100%" cellspacing="20px">
            <tr>
                <th align="right" width="10px"> Sl.</th>
                <th align="left"> Item</th>
            </tr>
            {% for r in evs %}
            <tr>
                <td align="right">
                    {{ loop.index }}.
                </td>
                <td align="left">
                    <a href="/details?id={{ r.key.urlsafe() }}">{{ r.key.get().name }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

</body>
</html>