<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query EV</title>
    <link type="text/css" rel="stylesheet" href="/styles.css">
</head>
<body bgcolor="#f8f8ff">

{% if not result %}

<div align="center">
    <div class="form-div">
        <h3>Query EV</h3>
        <a href="/">HOME</a>
        <form method="post" action="/query">
            <table width="100%">
                <tr>
                    <td width="100px">
                        Name:
                    </td>
                    <td>
                        <input type="text" id="name" name="name"
                               placeholder="Name"/><br/>
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="100px">
                        Manufacturer:
                    </td>
                    <td>
                        <input type="text" name="manufacturer"
                               placeholder="Manufacturer"/><br/>
                    </td>
                </tr>
            </table>

            <table width="100%">
                <tr>
                    <td width="100px">

                    </td>
                    <td width="10px"></td>
                    <td>Lower</td>
                    <td align="right">Upper</td>
                    <td width="10px"></td>
                </tr>
            </table>

            <table width="100%">
                <tr>
                    <td width="100px">
                        Year:
                    </td>
                    <td><input type="text" name="year-lc-t" value="1800" size="10px" readonly="readonly"></td>
                    <td><input type="range" name="year-lc" value="1800" min="1800" max="1900"
                               oninput="rangeUpdate('year')"></td>
                    <td><input type="range" name="year-uc" value="2100" min="1900" max="2100"
                               oninput="rangeUpdate('year')"></td>
                    <td><input type="text" name="year-uc-t" value="2100" size="10px" readonly="readonly"></td>
                </tr>
            </table>

            <table width="100%">
                <tr>
                    <td width="100px">
                        Battery (kWh):
                    </td>
                    <td><input type="text" name="battery-lc-t" value="0" size="10px" readonly="readonly"></td>
                    <td><input type="range" name="battery-lc" value="0" min="0" max="9999"
                               oninput="rangeUpdate('battery')"></td>
                    <td><input type="range" name="battery-uc" value="9999" min="0" max="9999"
                               oninput="rangeUpdate('battery')"></td>
                    <td><input type="text" name="battery-uc-t" value="9999" size="10px" readonly="readonly"></td>
                </tr>
            </table>

            <table width="100%">
                <tr>
                    <td width="100px">
                        WLTP (km):
                    </td>
                    <td><input type="text" name="wltp-lc-t" value="0" size="10px" readonly="readonly"></td>
                    <td><input type="range" name="wltp-lc" value="0" min="0" max="9999"
                               oninput="rangeUpdate('wltp')"></td>
                    <td><input type="range" name="wltp-uc" value="9999" min="0" max="9999"
                               oninput="rangeUpdate('wltp')"></td>
                    <td><input type="text" name="wltp-uc-t" value="9999" size="10px" readonly="readonly"></td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="100px">
                        Power (kW):
                    </td>
                    <td><input type="text" name="power-lc-t" value="0" size="10px" readonly="readonly"></td>
                    <td><input type="range" name="power-lc" value="0" min="0" max="9999"
                               oninput="rangeUpdate('power')"></td>
                    <td><input type="range" name="power-uc" value="9999" min="0" max="9999"
                               oninput="rangeUpdate('power')"></td>
                    <td><input type="text" name="power-uc-t" value="9999" size="10px" readonly="readonly"></td>
                </tr>
            </table>
            <table width="100%">
                <tr>
                    <td width="100px">
                        Cost (€):
                    </td>
                    <td><input type="text" name="cost-lc-t" value="0" size="10px" readonly="readonly"></td>
                    <td><input type="range" name="cost-lc" value="0" min="0" max="9999"
                               oninput="rangeUpdate('cost')"></td>
                    <td><input type="range" name="cost-uc" value="9999" min="0" max="9999"
                               oninput="rangeUpdate('cost')"></td>
                    <td><input type="text" name="cost-uc-t" value="9999" size="10px" readonly="readonly"></td>
                </tr>
            </table>
            <input type="submit" value="Submit">
            <p id="error" style="visibility: hidden;">
                <span style="color: red; ">Error! No matching EVs Found</span>
            </p>
            <p id="success" style="visibility: hidden;">
                <span style="color: green; ">EV deleted from database successfully!</span>
            </p>


        </form>
    </div>
    <br/>
</div>

{% else %}

<div align="center">
    <div class="form-div">
        <a href="/query">BACK</a> <a href="/">HOME</a>
        <h3>Query Result</h3>
        <table width="100%" cellspacing="20px">
            <tr>
                <th align="right" width="10px"> Sl.</th>
                <th align="left"> Item</th>
            </tr>
            {% for r in result %}
            <tr>
                <td align="right">
                    {{ loop.index }}.
                </td>
                <td align="left">
                    <a href="/details?id={{ r.key.urlsafe() }}">{{ r.key.get().name }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endif %}

<script type="text/javascript">
    function rangeUpdate(name) {
        var uc = document.getElementsByName(name + "-uc")[0].value;
        var lc = document.getElementsByName(name + "-lc")[0].value;
        document.getElementsByName(name + "-uc")[0].min = lc;
        document.getElementsByName(name + "-lc")[0].max = uc;
        document.getElementsByName(name + "-uc-t")[0].value = uc;
        document.getElementsByName(name + "-lc-t")[0].value = lc;
    }
</script>

{% if delete == True %}
<script type="text/javascript">
    document.getElementsByName('name')[0].onblur = function () {
        document.getElementById("success").style = "visibility: hidden;"
    };
    document.getElementById("success").style = "visibility: visible;"
</script>
{% endif %}
{% if result == None %}
<script type="text/javascript">
    document.getElementsByName('name')[0].style = "box-shadow: 0 0 5px red;border: 1px solid red;";
    document.getElementsByName('name')[0].onblur = function () {
        this.style = "";
        document.getElementById("error").style = "visibility: hidden;"
    };
    document.getElementById("error").style = "visibility: visible;"

</script>
{% endif %}

</body>
</html>